In [1]:
my_student = {
    "name": "Rolf Smith",
    "grades": [70, 88, 90, 99],
    "average": 0,  # something here to calculate
}

In [14]:
class Student:
    def __init__(self, new_name, new_grades):
        self.name = new_name
        self.grades = new_grades

    def average(self):
        return sum(self.grades) / len(self.grades)

In [15]:
student_one = Student("Ahmed", [70, 88, 90, 99])
student_two = Student("Bashar", [50, 60, 99, 100])

In [16]:
print(student_one.name)
print(student_two.name)

Ahmed
Bashar

In [17]:
student_one.average()

86.75

In [18]:
Student.average()

TypeError: Student.average() missing 1 required positional argument: 'self'

## Inheritance

In [19]:
class Student:
    def __init__(self, name, school):
        self.name = name
        self.school = school
        self.marks = []

    def average(self):
        return sum(self.marks) / len(self.marks)

In [20]:
ahmed = Student("Ahmed", "Oxford")

In [22]:
class WorkingStudent:
    def __init__(self, name, school, salary):
        self.name = name
        self.school = school
        self.marks = []
        self.salary = salary

    def average(self):
        return sum(self.marks) / len(self.marks)

In [23]:
freed = WorkingStudent("Freed", "MIT", 15.50)

In [26]:
class WorkingStudent(Student):
    def __init__(self, name, school, salary):
        super().__init__(name, school)
        self.salary = salary

In [36]:
freed = WorkingStudent("Freed", "MIT", 15.50)
freed.marks.append(57)
freed.marks.append(99)

78.0

In [37]:
freed.average()

78.0

### @property

In [33]:
class Student:
    def __init__(self, name, school):
        self.name = name
        self.school = school
        self.marks = []

    #@property
    def average(self):
        return sum(self.marks) / len(self.marks)

In [34]:
mohammad = Student("Mohammad", "Stanford")
mohammad.marks.append(80)
mohammad.marks.append(90)

In [35]:
mohammad.average()

85.0

## @classmethod

In [61]:
class Foo:
    @classmethod
    def hi(cls):
        print(cls.__name__)

In [62]:
my_object = Foo()
my_object.hi()

Foo

## @staticmethod

In [57]:
class Foo:
    @staticmethod
    def hi():
        print("I don't take arguments!")

In [58]:
my_object = Foo()
my_object.hi()

I don't take arguments!

### Examples

In [63]:
class FixedFloat:
    def __init__(self, amount):
        self.amount = amount

    def __repr__(self):
        return f"<FixedFloat {self.amount:.2f}>"

In [64]:
number = FixedFloat(18.5746)
print(number)

<FixedFloat 18.57>

In [65]:
class FixedFloat:
    def __init__(self, amount):
        self.amount = amount

    def __repr__(self):
        return f"<FixedFloat {self.amount:.2f}>"

    def from_sum(self, value1, value2):
        return FixedFloat(value1 + value2)

In [66]:
number = FixedFloat(18.5746)
new_number = number.from_sum(19.575, 0.789)
print(new_number)

<FixedFloat 20.36>

In [67]:
class FixedFloat:
    def __init__(self, amount):
        self.amount = amount

    def __repr__(self):
        return f"<FixedFloat {self.amount:.2f}>"

    @staticmethod
    def from_sum(value1, value2):
        return FixedFloat(value1 + value2)

In [68]:
static_number = FixedFloat.from_sum(19.575, 0.789)
print(static_number)

<FixedFloat 20.36>

In [69]:
class Euro(FixedFloat):
    def __init__(self, amount):
        super().__init__(amount)
        self.symbol = "€"

    def __repr__(self):
        return f"<Euro {self.symbol}{self.amount:.2f}>"

In [70]:
euros = Euro(18.5963)
print(euros) 

result = Euro.from_sum(15.76, 19.905)
print(result)

<Euro €18.60>
<FixedFloat 35.66>

In [71]:
class FixedFloat:
    def __init__(self, amount):
        self.amount = amount

    def __repr__(self):
        return f"<FixedFloat {self.amount:.2f}>"

    @classmethod
    def from_sum(cls, value1, value2):
        return cls(value1 + value2)


class Euro(FixedFloat):
    def __init__(self, amount):
        super().__init__(amount)
        self.symbol = "€"

    def __repr__(self):
        return f"<Euro {self.symbol}{self.amount:.2f}>"

In [73]:
Euro.from_sum(16.7565, 90)